body {
  background-color: rgb(30, 30, 30);
}

td {
    height: 100px;
    display: inline-block;
    width: 100px;
    background-color: rgb(75, 75, 255);
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    font-family: Arial;
    margin: 2px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#container {
  width: 350px;
  margin: auto;
}

h1 {
  color: #fff;
  font-family: Arial;
  text-align: center;
}

button {
  width: 200px;
padding: 10px;
background-color: rgb(50, 50, 175);
color: #fff;
font-weight: bold;
margin-top: 10px;
font-size: 15px;
border-radius: 5px;
cursor: pointer;
}

#condition, #condition-2 {
  text-align: center;
  color: green;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  display: none;
}

.text-container {
  height: 40px;
  margin: 10px 0;
}

#solution div {
    height: 60px;
    display: inline-block;
    width: 60px;
    background-color: rgb(75, 75, 255);
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-family: Arial;
    margin: 2.5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#left::after {
    content: '';
    position: absolute;
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 6px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: -28px;
    margin-top: 22px;
}

#right::after {
    content: '';
    position: absolute;
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 0px;
    margin-top: 22px;
}

#up::after {
    content: '';
    position: absolute;
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 6px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-left: -14px;
    margin-top: 6px;
}

#down::after {
    content: '';
    position: absolute;
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: -14px;
    margin-top: 38px;
}
